  <div class="search">
    <h4>Enter your github username</h4>
    <input type="text" placeholder="search" [(ngModel)]='username' (keyup)="findUser()">
  </div>
  
  <div class="container">
    <div *ngIf="user">
      <div class="card profile m-1">
  
        <div class="card-header">
          <h1></h1>
              {{user.location}}
        </div>
  
        <div class="panel-body">
  
  
            <div class="row m-2">
              <div class="col-md-3">
                <div class="card  ml-2" style="background-color: antiquewhite;">
        
                  <div class="avatar mx-auto white ">
                    <img [src]='user.avatar_url' class="rounded-circle img-fluid mt-2" style="width: 100px; height:100 ;"
                      alt="user">
                  </div>
                  <div class="card-body">
                    <h4 class="card-title mt-1">{{user.login}}</h4>
                    <hr>
                    <div class="float-right" >
                        <span class="badge badge-primary">{{user.followers}} followers</span>
                        <span class="badge badge-secondary mr-2 ml-2">{{user.following}} following</span>
                        <span class="badge badge-success">{{user.public_repos}} repos</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9" >
                <div class="card ml-2 mr-2" >
                  <ul class="list-group" >
                    <li class="list-group-item"><strong>Username:</strong> {{user.login}}</li>
                    <li class="list-group-item"><strong>Location:</strong> {{user.location}}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
                    <li class="list-group-item"><strong>Bio:</strong> {{user.bio}}</li>
                  </ul>
                </div>
                </div>
                </div>
                
              </div>
              <div class="card mt-2 ml-3 mr-3" *ngIf="user.public_repos" >
                <div class="card-header">
                  <h3 class="card-title">Repositories</h3>
                </div>
                <div class="card-body" *ngFor="let repo of userRepos">
                  
                    <div class="col-md-12">
                      <div>
                        <div class="row">
                          <div class="col-md-9">
                            <h3>{{repo.name}}</h3>
                            <p>{{repo.description}}</p>
                            <h4><a href="{{repo.html_url}}" target="_blank">View on github</a></h4>
                          </div>
                          <div class="col-md-3">
                            <span class="badge badge-warning">{{repo.watchers}} Stars </span>
                            <p></p>
                            <span class="badge badge-primary">{{repo.forks}} Forks </span>
                          </div>
  
                          <div class="card-footer col text-muted">
                
                          </div>
                        </div>
                  
                      <hr>
  
  
  
        
      
